[NCC-2018-003] Private Key Decoding Has Limited Interoperability

Location: key.cpp, function ``ec_privkey_import_der()``

Impact: Some standard-compliant EC private key files will fail to be loaded.

### Description
EC private keys are meant to be encoded using ASN.1/DER structures that follow the syntax
originally specified in [SEC 1](http://www.secg.org/sec1-v2.pdf) (section C.4):
```
ECPrivateKey ::= SEQUENCE {
    version INTEGER { ecPrivkeyVer1(1) } (ecPrivkeyVer1),
    privateKey OCTET STRING,
    parameters [0] ECDomainParameters {{ SECGCurveNames }} OPTIONAL,
    publicKey [1] BIT STRING OPTIONAL
}
```
The ``parameters`` field is nominally optional, but is traditionally included in such structures.

However, there are two possible formats for the ``parameters``:
* the base field modulus, equation parameters, curve order, and conventional generator coordinates, may be encoded explicitly;
* for some specific curves of known parameter, a symbolic designation (``OBJECT IDENTIFIER``) may be used instead.

The use of a symbolic name yields a much shorter encoding. Moreover, this is the only format supported by PKIX for Internet-related standards [[RFC 5480, section 2.1.1]](https://tools.ietf.org/html/rfc5480), and, as such, is better supported by existing cryptographic libraries.

The ``ec_privkey_import_der()`` function is a non-validating function that tries to locate the private key itself (``privateKey`` field) and ignores the rest. It works by decoding the ``SEQUENCE`` tag and length, then skipping over the ``version`` field (after verifying its contents), and then grabbing the private key. The decoding process of the length of the ``SEQUENCE`` supports exactly two formats:
* “``81 xx``”: length is encoded in byte ``xx`` (for lengths 128 to 255 bytes)
* “``82 xx yy``”: length is encoded over two bytes ``xx yy`` (for lengths 256 to 65535 bytes)

However, this function does not tolerate the normal DER encoding when the ``SEQUENCE`` length is less than 128 bytes (such a short length is encoded over a single byte of value 0 to 127). In particular, if a private key for curve secp256k1 is encoded with its symbolic name (OID 1.3.132.0.10), then the whole contents of the ``SEQUENCE`` will use only 116 bytes, and the length will be encoded as a single byte of value 0x74. The ``ec_privkey_import_der()`` function cannot load such a private key.

In Zcash, private keys are decoded in two places:
* in WalletDB, that handles encoding and decoding of private keys in a dedicated database;
* in the alert sending mechanism, the alert being signed with a private key hardcoded in the node at compilation time.

Since WalletDB typically generates key pairs itself, and the encoding function ``ec_privkey_export_der()`` uses the encoding format with explicit parameters, serialized private key usually have a format that ``ec_privkey_import_der()`` supports, which avoids the issue. As for alert signing, the private key is supposed to be generated by the installer using OpenSSL commands specified in the top comment in ``sendalert.cpp``; in particular, the top command uses the “``-param_enc explicit``” argument which instructs OpenSSL to use the explicit parameter encoding format. Therefore, common usage of the Zcash client is not impacted. However, interoperability with externally provided private keys is reduced, especially since the “explicit parameter” encoding format is discouraged in the PKIX world.

### Recommendation
The length-decoding ``ec_privkey_import_der()`` function is currently implemented as follows:
```C++
/* sequence length constructor */
if (end - privkey < 1 || !(*privkey & 0x80u)) {
    return 0;
}
size_t lenb = *privkey & ~0x80u; privkey++;
if (lenb < 1 || lenb > 2) {
    return 0;
}
if (end - privkey < lenb) {
    return 0;
}
/* sequence length */
size_t len = privkey[lenb-1] | (lenb > 1 ? privkey[lenb-2] << 8 : 0u);
privkey += lenb;
```

These lines may be replaced by the following:
```C++
/* sequence length decoding */
if (end - privkey < 1) {
    return 0;
}
size_t len = *privkey++;
if (len >= 0x80) {
    if ((size_t)(end - privkey) < (len - 0x80)) {
        return 0;
    }
    if (len == 0x81) {
        len = *privkey++;
    } else if (len == 0x82) {
        len = *privkey++;
        len = (len << 8) + *privkey++;
    } else {
        return 0;
    }
}
```
This modification would make ``ec_privkey_import_der()`` compatible with encoded private keys that use the “named curve” encoding format.
