clarify blake2b-256 implementation in documentation

The specifications refer to the zcash protocol.
https://github.com/zcash/zcash/wiki/specification
https://github.com/Electric-Coin-Company/zips/blob/master/protocol/protocol.pdf

The protocol refers to blake2b-256 and states, "This is not the same as BLAKE2b-512 trun-
cated to 256 bits." (p. 21, s. 5.4.2)

The paper refers to RFC 7693, in which FUNCTION BLAKE2 returns 'first "nn" bytes from little-endian word array h[]' (p. 9, s 3.3).

That seems to suggest truncating the first nn*8 bits, so I think the specification should be updated to clarify exactly what the blake2b-256 hash function is.

The output size also affects the parameter block used for the IV; that's why it is not simply the same as truncation. I can say this explicitly if you think it would make the spec clearer. (It is stated in [RFC 7693 section 2.5](https://tools.ietf.org/html/rfc7693#section-2.5).)

Yes, I think that would make things clearer.  I think part of the problem is the RFC, not just the zcash protocol doc.  After seeing your explanation, I noticed the code in s. 3.3 doesn't technically use the parameter block p[].
https://tools.ietf.org/html/rfc7693#section-3.3

While it does mention it in the comment "// Parameter block p[0]", I think many developers are like me and tend to skip comments when mentally processing code.  I think the RFC code should have initialized p[0], followed by, "h[0] := h[0] ^ p[0]"

Personally, I would've gone with blake2s-256 since it would be almost 2x faster in a GPU implementation.  Too late for that now though...

The code in the RFC does use ``nn`` at that point, and is technically correct. I agree that RFC isn't a particularly clear explanation, so I think I'll just drop it as a reference. [ANWW2013] is sufficient.

Note that EquihashGen generates two X<sub>i</sub> values per hash, which wouldn't be possible using BLAKE2s. So it is slightly faster overall for the Equihash solver to use BLAKE2b. The main reason for choosing BLAKE2b, actually, was that there is an implementation of it in libsodium which we already had as a dependency. Also, the KDF requires a 1024-byte input block so it needs BLAKE2b, and we preferred not to use both BLAKE2b and BLAKE2s.

I'm trying not to look at the zcash code, since a competent third party should be able to implement the zcash PoW using only the specification.
When you say, "EquihashGen generates two Xi values per hash", does that mean the PoW algorithm does not follow the equihash paper?  Specifically, s. IV, specification, refers to one hash per Xi:
H(I||V||x1) ...

I see the note in s. 5.4.3 of the zcash protocol spec, but I'm having a hard time reconciling that with s. 6.4 which refers to the equihash paper.

Specifically, using k=9, n=200, according to the equihash paper, the algorithm starts off with N = 2^((n/(k+1))+1) or 2^21 = ~2M hashes.
Does "EquihashGen generates two Xi values per hash" mean that zcash is using the full 512-bit output of blake2b, with the first 256 for X<sub>i</sub>, and the other 256 bits for X<sub>i+1</sub>?

The "H" referred to in the paper is precisely EquihashGen. The paper doesn't say how that H is instantiated. For Zcash we instantiate it in such a way that each consecutive pair of indices uses different parts of the output from the same BLAKE2b hash.

> Does "EquihashGen generates two Xi values per hash" mean that zcash is using the full 512-bit output of blake2b, with the first 256 for X<sub>i</sub>, and the other 256 bits for X<sub>i+1</sub>?

Not quite but the same idea: it's the first 200 bits and the next 200 bits of BLAKE2b-400.

Fixed in 2016.0-beta-1.6.